//Шрифт по умолчанию===============================================================================================================//
$fontDefault: "Trebuchet MS", Helvetica, sans-serif;
$svg1: "data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='%23777' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 9.00462C14.2091 9.00462 16 10.7955 16 13.0046C16 15.2138 14.2091 17.0046 12 17.0046C9.79086 17.0046 8 15.2138 8 13.0046C8 10.7955 9.79086 9.00462 12 9.00462ZM12 10.5046C10.6193 10.5046 9.5 11.6239 9.5 13.0046C9.5 14.3853 10.6193 15.5046 12 15.5046C13.3807 15.5046 14.5 14.3853 14.5 13.0046C14.5 11.6239 13.3807 10.5046 12 10.5046ZM12 5.5C16.6135 5.5 20.5961 8.65001 21.7011 13.0644C21.8017 13.4662 21.5575 13.8735 21.1557 13.9741C20.7539 14.0746 20.3466 13.8305 20.246 13.4286C19.3071 9.67796 15.9214 7 12 7C8.07693 7 4.69009 9.68026 3.75285 13.4332C3.65249 13.835 3.24535 14.0794 2.84348 13.9791C2.44161 13.8787 2.19719 13.4716 2.29755 13.0697C3.40064 8.65272 7.38448 5.5 12 5.5Z'/%3E%3C/svg%3E%0A";
$svg2: "data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='%23777' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.21967 2.21967C1.9534 2.48594 1.9292 2.9026 2.14705 3.19621L2.21967 3.28033L6.25424 7.3149C4.33225 8.66437 2.89577 10.6799 2.29888 13.0644C2.1983 13.4662 2.4425 13.8735 2.84431 13.9741C3.24613 14.0746 3.6534 13.8305 3.75399 13.4286C4.28346 11.3135 5.59112 9.53947 7.33416 8.39452L9.14379 10.2043C8.43628 10.9258 8 11.9143 8 13.0046C8 15.2138 9.79086 17.0046 12 17.0046C13.0904 17.0046 14.0788 16.5683 14.8004 15.8608L20.7197 21.7803C21.0126 22.0732 21.4874 22.0732 21.7803 21.7803C22.0466 21.5141 22.0708 21.0974 21.8529 20.8038L21.7803 20.7197L15.6668 14.6055L15.668 14.604L14.4679 13.4061L11.598 10.5368L11.6 10.536L8.71877 7.65782L8.72 7.656L7.58672 6.52549L3.28033 2.21967C2.98744 1.92678 2.51256 1.92678 2.21967 2.21967ZM10.2041 11.2655L13.7392 14.8006C13.2892 15.2364 12.6759 15.5046 12 15.5046C10.6193 15.5046 9.5 14.3853 9.5 13.0046C9.5 12.3287 9.76824 11.7154 10.2041 11.2655ZM12 5.5C10.9997 5.5 10.0291 5.64807 9.11109 5.925L10.3481 7.16119C10.8839 7.05532 11.4364 7 12 7C15.9231 7 19.3099 9.68026 20.2471 13.4332C20.3475 13.835 20.7546 14.0794 21.1565 13.9791C21.5584 13.8787 21.8028 13.4716 21.7024 13.0697C20.5994 8.65272 16.6155 5.5 12 5.5ZM12.1947 9.00928L15.996 12.81C15.8942 10.7531 14.2472 9.10764 12.1947 9.00928Z'/%3E%3C/svg%3E%0A";
$color_default: steelblue; // lightslategrey | cornflowerblue | steelblue | teal |
$color_success: #2aa92a;
$color_error: tomato;
$color_warning: gold;
//обнуление========================================================================================================================//
*{padding:0;margin:0;border:0}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
input,button,select:focus,:active{outline: none}
a:focus,a:active{outline: none}
aside,nav,footer,header,section{display: block}
html,body{height:100%;width:100%;margin:0;padding:0;min-width:320px;position:relative;color: #333;-webkit-tap-highlight-color: rgba(255, 255, 255, 0);-webkit-tap-highlight-color: transparent}
body{line-height:1;font-size:14px;font-family:$fontDefault;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:$fontDefault}
input::-ms-clear{display:none}
input::-webkit-input-placeholder {color: #ccc;font-weight: 300}
input::-moz-placeholder {color: #ccc;font-weight: 300}
textarea::-webkit-input-placeholder {color: #ccc;font-weight: 300}
textarea::-moz-placeholder {color: #ccc;font-weight: 300}
input[type="password"]::-ms-reveal {display: none}
input[type=text],input[type=email],input[type=tel],textarea{-webkit-appearance:none;-moz-appearance:none;appearance:none}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {-webkit-appearance: none;margin: 0}
input[type="number"] {-moz-appearance: textfield}
input[type="number"]:hover,input[type="number"]:focus {-moz-appearance: number-input}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {-webkit-appearance: none;margin: 0}
input[type=date]::-webkit-calendar-picker-indicator {display: none}
button{cursor:pointer}
button::-moz-focus-inner{padding:0;border:0}
a,a:visited{text-decoration:none}
a:hover{text-decoration:none}
ul li{list-style:none}
img{vertical-align:top}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit}
//СТАРТОВЫЕ СТИЛИ=========================================================================================================================//
.noselect {-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none}
body {
	max-width:1920px;
	width: 100%;
	padding: 0;
	margin: 0 auto;
	background-color: #fff;
}
.wrapper {
	overflow: hidden;
}
.container {
	max-width: 1140px;
	margin: 0 auto;
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	@media (max-width:1199px) {
		max-width: 960px;
	}
	@media (max-width:991px) {
		max-width: 720px;
	}
	@media (max-width:768px) {
		max-width: 540px;
	}
	@media (max-width:575px) {
		max-width: 100%;
	}
	@media (max-width:435px) {
		padding: 0 10px
	}
}

//CONTENT=========================================================================================================================//
.page {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	&.color-1 {
		background-color: #eee;
	}
	&.color-2 {
		background-color: #ddd;
	}
}

.btn {
	cursor: pointer;
	padding: 10px 20px;
	display: inline-block;
	text-decoration: none;
	color: #555;
	border-radius: 3px;
	border: 1px solid rgba(30,30,30,0.2);
	position: relative;
	z-index: 1;
	overflow: hidden;
	text-transform: uppercase;
	font-size: 16px;
	margin: 0 6px;
	&:after {
		content: '';
		transition: all 100ms ease-in 0s;
		position: absolute;
		z-index: -1;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		opacity: 0;
		background-color: rgba(0,0,0,0.1);
	}
	&:hover:after, &:focus:after {
		opacity: 1;
	}
	&.btn-default {
		background-color: #f5f5f5;
	}
	&.btn-primary {
		background-color: $color_default;
		color: #fff;
	}
	&.btn-warning {
		background-color: $color_warning;
	}
	&.btn-danger {
		background-color: $color_error;
		color: #fff;
	}
	&.btn-success {
		background-color: $color_success;
		color: #fff;
	}
}

.welcome-text {
	width: 100%;
	max-width: 400px;
	line-height: normal;
	text-align: center;
	font-size: 24px;
	margin-bottom: 20px;
	text-transform: uppercase;
	color: #555;
	background-color: #fff;
	padding: 30px 20px 20px;
	border-radius: 10px;
	box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.04);
	p {
		margin-bottom: 15px;
	}
}

.form {
	width: 100%;
	max-width: 400px;
	background-color: #fff;
	padding: 30px 20px 20px;
	border-radius: 10px;
	box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.04);
	text-align: center;
	.btn {
		width: 100%;
	}
	&__title {
		text-align: center;
		font-size: 24px;
		margin-bottom: 20px;
		text-transform: uppercase;
		line-height: normal;
		color: #555
	}
	&__sub-title {
		text-align: center;
		line-height: normal;
		font-size: 16px;
		margin-top: -10px;
		margin-bottom: 20px;
		color: #555;
		&.success {
			color: $color_success;
		}
		&.error {
			color: $color_error;
		}
	}
	&__label-text {
		top: -1px;
		font-size: 15px;
		font-weight: 700;
		left: 10px;
		line-height: 2px;
		z-index: 1;
		background-color: #FcFcFc;
		color: #aaa;
		display: inline-block;
		position: absolute;
		padding: 0 3px;
		i {
			color: $color_error;
			font-size: 13px;
			padding-left: 2px;
			position: relative;
			top: -4px;
			opacity: 0.6;
		}
	}
	&__label {

		margin-bottom: 15px;
		position: relative;
		cursor: pointer;
		display: block;
		text-align: center;
		input {
			border: 1px solid #ccc;
			background: #FcFcFc !important;
			border-radius: 5px;
			padding: 10px 15px;
			font-size: 18px;
			width: 100%;
			font-weight: 400;
			color: #666;

		}
		&.active .form__label-text {
			color: $color_default;
		}
		&.active {
			input {border-color: $color_default;}
			svg {
				padding-top: 16px;
				path {fill: $color_default}
			}
		}
		&.error input {
			border-color: $color_error;
		}
		&.error {
			.form__label-text {
				color: $color_error;
			}
			svg {
				path {fill: $color_error}
			}
		}
		&.hide {
			display: none;
		}
	}
	.error-msg {
		display: inline-block;
		background-color: $color_error;
		color:white;
		text-align: center;
		margin: -7px 0 5px 0;
		border-radius: 5px;
		padding: 10px 7px;
		font-size: 16px;
		width: 100%;
		opacity: 0.85;
		&.flash-msg {
			margin: 0;
			width: auto;
			padding: 2px 10px;
			position: absolute;
			top: calc(100% - 21px);
			right: 4px;
			font-size: 13px;
			z-index: 1;
			max-width: 65%;

		}
	}
	&__btn-body {
		text-align: center;
		margin-top: 10px;
		display: flex;
	}
	&__link {
		text-align: center;
		padding: 0;
		a {
			display: inline-block;
			padding: 5px 10px;
			font-size: 16px;
			color: $color_default;
			&:hover, &:focus {
				text-decoration: underline;
				color: $color_error;
			}
		}
	}
	&__info {
		color: #777;
		font-size: 12px;
		margin-top: 10px;
		padding: 0 5px;
		text-align: center;
		opacity: 0.5;
		i {
			color: $color_error;
		}
	}
}

.account__body {
	background-color: #fff;
	text-align: center;
	width: 100%;
	max-width: 600px;
	padding: 80px 0;
	border-radius: 10px;
	box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.04);
	p {
		font-size: 24px;
		text-transform: uppercase;
		margin-bottom: 30px;
	}

}

.password-control-link {
	position: absolute;
	cursor: pointer;
	z-index: 1;
	bottom: calc(100% - 8px);
	right: 5px;
	font-size: 12px;
	padding: 2px;
	display: inline-block;
	background-color: #fcfcfc;
	color: $color_default;
}
.password-control-link:hover {
	color: $color_error;
}

.custom-checkbox {
	margin: 0 auto 5px;
	cursor: pointer;
	display: inline-block;
	input {
		position: absolute;
		z-index: -1;
		opacity: 0;
	}
	.form__label-text {
		position: relative;
		padding: 7px 5px !important;
		display: inline-block;
		line-height: normal !important;
		background-color: transparent !important;
		color:#777;
		font-weight: 400;
		font-size: 16px;
		top: 0 !important;
		left: 0 !important;
		border: 0 !important;
	}
	&--indicator {
		display: inline-block;
		position: relative;
		height: 18px;
		width: 18px;
		top: 3px;
		margin-left: 5px;
		border-radius: 3px;
		border: 1px solid #ddd;
		background-color: #eee;
	}
	&:hover input ~ &--indicator,
	input:focus ~ &--indicator {
		background-color: #ddd;
		border: 1px solid #ccc;
	}
	input:checked ~ &--indicator {
		background: $color_default;
	}
	input:hover:checked ~ &--indicator,
	input:focus:checked ~ &--indicator {
		background: $color_default;
	}
	input:hover:checked ~ &--indicator:before,
	input:focus:checked ~ &--indicator:before {
		opacity: 1;
	}
	&--indicator:after {
		content: '';
		position: absolute;
		z-index: 1;
		display: none;
	}
	&--indicator:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		opacity: 0;
		background-color: rgba(0,0,0,0.1);
		z-index: 1;
		border-radius: 3px;
	}
	input:checked ~ &--indicator:after {
		display: block;
	}
	&--indicator:after {
		left: 6px;
		top: 3px;
		width: 5px;
		height: 8px;
		border-bottom: 2px solid #fff;
		border-right: 2px solid #fff;
		transform: rotate(45deg);
	}
	input:disabled ~ &--indicator:after {
		border-color: #7b7b7b;
	}
}

//CONTENT=========================================================================================================================//

/* loading */

.loading {
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0,0,0,0.7);
}

:root {
	--color: #ffffff;
	--size: 64px;
	--speed: .5s;
	--thickness: 8px;
}

@keyframes rotate-forever {
0% {transform: rotate(0deg)}
100% {transform: rotate(360deg)}
}

.loading-spinner {
	position: absolute;
	animation-duration: var(--speed);
	animation-iteration-count: infinite;
	animation-name: rotate-forever;
	animation-timing-function: linear;
	width: var(--size);
	height: var(--size);
	border: var(--thickness) solid var(--color);
	border-right-color: rgba(200,200,200,0.2);
	border-radius: 50%;
	display: inline-block;
	opacity: 0.6;
}

.loading-spinner:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	animation-duration: calc(7s + var(--speed));
	animation-iteration-count: infinite;
	animation-name: rotate-forever;
	animation-timing-function: linear;
	width: 100%;
	height: 100%;
	border: var(--thickness) solid var(--color);
	border-right-color: rgba(200,200,200,0.6);
	border-radius: 50%;
	display: inline-block;
	opacity: 0.4;
}

.loading-spinner:before {
	content: '';
	position: absolute;
	top: var(--thickness);
	right: var(--thickness);
	animation-duration: calc(1s + var(--speed));
	animation-iteration-count: infinite;
	animation-name: rotate-forever;
	animation-timing-function: linear;
	width: calc(100% - (var(--thickness)*2));
	height: calc(100% - (var(--thickness)*2));
	border: var(--thickness) solid var(--color);
	border-right-color: rgba(200,200,200,0.6);
	border-radius: 50%;
	display: inline-block;
	opacity: 0.1;
}

/* loading */